.banner{
    max-width: 100%;
    height: calc(100vh - 75px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.banner{
    color: #fff;
    text-align: left;
    font-size: 20px;
}

.banner .container{
    height: 100%;
    display: flex;
    align-items: center;
}

.banner h1{
    margin-top: -50px;
    font-size: 65px;
}