html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  background: #000;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  box-sizing: border-box;
}

h2 {
  font-size: 40px;
  padding: 10px 0px;
}

.films {
  padding-top: 100px;
}

main {
  background: #000;
  color: #fff;
}

.films__container {
  display: flex;
  align-items: center;
  width: fit-content;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
  margin-right: -20px;
}

.films__heading {
  color: #fff;
}

@media screen and (max-width: 1140px) {
  .container {
    padding: 0 10px;
  }
  .films__container {
    justify-content: center;
  }
  .films__heading {
    text-align: center;
  }
  h1 {
    width: 100%;
    margin-left: 0;
  }
}
